@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* App Theam */
  --background-color: white;
  --text-color: black;
  --primary-color: #125ee0;
  --secondary-color: #000000;

  /* width and height */
  --footer-brand-logo-height: 2rem;
  --footer-brand-logo-width: 12.5rem;

  /* Header */
  --navigation-logo-height-desk: 5rem;
  --navigation-logo-height-mobile: 4rem;
  --navigation-header-height-mobile: 4rem;
  --navigation-header-height-desk: 5rem;

  /* navbar height */
  --utility-nav-height-desk: 2.5rem;
  --utility-nav-height-mob: 2.188rem;

  /* Marketing bannet */
  --marketing-banner-img-width-desk: 40.5rem;
  --marketing-banner-img-width-mob: 20.438rem;
  --marketing-banner-img-height-desk: 20.188rem;
  --marketing-banner-img-height-mob: 20.188rem;

  /* Hero Banner */
  --hero-banner-height-desk: 30rem;
  --hero-banner-rounded-br: 2.5rem;
  --hero-banner-content-maxwidth: 26.3rem;
  --hero-banner-content-maxheight-mob: 16rem;
  --hero-banner-cta-button-min-width: 9rem;
  --hero-banner-height-mob: 12rem;
  --swiper-navigation-size :1.2rem;

  /* swiper */
  /* --swiper-pagination-bullet-opacity: */
  /* --.swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    font-size: 1.2rem;
} */
}




@font-face {
  font-family: 'Hero New Bold';
  src: url('/assets/fonts/Hero New Bold.otf') format('truetype');

}

@font-face {
  font-family: 'Hero New ExtraBold';
  src: url('/assets/fonts/Hero New ExtraBold.otf') format('truetype');

}

@font-face {
  font-family: 'Hero New Light';
  src: url('/assets/fonts/Hero New Light.otf') format('truetype');

}

@font-face {
  font-family: 'Hero New Regular';
  src: url('/assets/fonts/Hero New Regular.otf') format('truetype');

}

@font-face {
  font-family: 'Hero New SemiBold';
  src: url('/assets/fonts/Hero New SemiBold.otf') format('truetype');

}

@font-face {
  font-family: 'Hero New UltraLight';
  src: url('/assets/fonts/Hero New UltraLight.otf') format('truetype');

}

@font-face {
  font-family: 'Hero New Thin';
  src: url('/assets/fonts/Hero New Thin.otf') format('truetype');
}

@font-face {
  font-family: 'swiper-icons';
  src: url('/assets/fonts/swiper-icons.ttf') format('truetype');
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  font-family: 'Hero New Light';
}

.marginLeftRightAuto {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1021px) {
  .container {
    max-width: 90rem;
  }
}

.container {
  max-width: 90rem;
}

/* Override Tailwind Classes */
.text-tertiary-400 {
  --tw-text-opacity: 1;
  color: rgb(85 85 85 / var(--tw-text-opacity));
}